

@font-face {
    font-family: "proxima-nova-regular";
    src: url("../../fonts/proxima-nova-regular-webfont.ttf");
    src: url("../../fonts/proxima-nova-regular-webfont.eot");
    src: url("../../fonts/proxima-nova-regular-webfont.woff");
}

@font-face {
    font-family: "proxima-nova-semibold";
    src: url("../../fonts/proxima-nova-semibold-webfont.ttf");
    src: url("../../fonts/proxima-nova-semibold-webfont.eot");
    src: url("../../fonts/proxima-nova-semibold-webfont.woff");
}

@font-face {
    font-family: "Avenir-Medium";
    src: url("../../fonts/Avenir-Medium.ttf");
    src: url("../../fonts/Avenir-Medium.eot");
    src: url("../../fonts/Avenir-Medium.woff");
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../../fonts/MyriadPro-Regular.ttf");
    src: url("../../fonts/MyriadPro-Regular.eot");
    src: url("../../fonts/MyriadPro-Regular.otf");
    src: url("../../fonts/MyriadPro-Regular.woff");
}

@font-face {
    font-family: "ChronicaPro-Light";
     src: url("../../fonts/MyriadPro-Regular.ttf");
    src: url("../../fonts/ChronicaPro-Light.otf");
   
   
}
