/*----------------Default-Reset-CSS------------*/

body {
	transition: 0.3s ease-in-out;
	font-family: 'Catamaran', sans-serif;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

a {
	transition: 0.3s;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

/*----------------Globle-CSS------------*/

.x-blog-body {
    padding-top: 40px;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  }

  .right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }
  
  .up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }
  .x-blog-title {
    color: #494949;
    margin-bottom: 10px;
}

  .title-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.title-row .x-blog-f-social{
  margin-left: -15px;
}
.title-row .x-blog-f-social li:last-child{
  margin-right: 0px;
}
  .x-blog-select-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .select-label {
    margin-bottom: 0px;
	margin-right: 15px;
	color: #494949;
	font-size: 14px;
  font-weight: 600;
  min-width: 55px;
  }
  .divide-line {
    width: 100%;
    height: 1px;
    background-color: #969696;
    margin: 50px 0px;
}

  .custom-select{
	background-image: none;
    position: relative;
    color: #494949;
    font-size: 14px;
    letter-spacing: 1px;
    border-color: #969696;
    background: url(../../assets/images/png/down.png) no-repeat;
    background-size: 10px;
    background-position: 95%;
  }
  .custom-select:focus{
	border-color: #969696;
	box-shadow: inherit;
  }
  .clearfilter-wrapp {
    width: 170px;
    padding-left: 10px;
}

  .clearfilter {
    display: block;
    font-size: 14px;
   
}
.search-input-wrapp{
  border: 1px solid #969696;
  border-radius: .25rem;
  overflow: hidden;
  width: 100%;
}

.x-blog-input-group .input-search {
	  color: #494949;
    font-size: 14px;
    border:0px;
    
}

.input-search-btn {
  background-color: #fff;
  border: 0px;
  cursor: pointer;
}
.input-search-btn:focus{
  outline: 0px;
}

.input-search-btn img{
  width: 20px;
}

.x-blog-input-group .input-search:focus{
	border-color: #969696;
	box-shadow: inherit
}

.x-block-input{
  border-radius: 1px;
  border-color: #969696;
}
.x-block-input:focus{
  box-shadow: inherit;
}

.danger {
  color: red;
}
.blue-btn {
  background-color: #1864e0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 40px;
  border:0px;
  margin-top: 30px;
  cursor: pointer;
}

.blue-btn:focus{
  outline: none;
}
.text-para{
  font-size: 16px;
  color: #494949;
}

.inner-blue-title{
  color: #1864e0;
}
.x-block-social-media{
  margin-top: 0px;
}

.search-for-mobile{
  display: none;
}


/*----------Header-CSS-start-------------*/

.x-blog-main-header {
  position: relative;
  z-index: 50;
  min-height: 78px;
}

.x-blog-container{
  background: #0D2EA0;
}

.x-blog-logo {
  margin-top: 20px;
  padding-right: 18px;
  margin-bottom: 12px;
  width: 125px;
  border-right: 1px solid #ffffff;
}
.x-blog-stearling{
  width: 200px;
  padding-left: 18px;
}

.x-blog-nav .navbar-nav li {
  position: relative;
}     

.x-blog-nav .navbar .navbar-nav li > a {
  position: relative;
  display: block;
  color: #020920;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 30px 13px;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid transparent;
  border-bottom: 3px solid transparent ;
}
/* .x-blog-nav .navbar .navbar-nav li:first-child  a{
  padding-left: 0px;
} */

.x-blog-nav .navbar .navbar-nav li > a:hover{
  border-bottom: 3px solid #1864e0 ;
}
.x-blog-nav  {
  background: #fff;
  position: relative;
  box-shadow: 0 4px 2px -2px grey;
}
.x-blog-nav .navbar {
  padding: 0rem 1rem;
  padding-left: 0px;
  
}

.x-blog-nav .navbar-toggler{
  outline: none;
}
.x-blog-nav .navbar-toggler img {
  width: 25px;
}

.sub-menu {
  position: absolute;
  background: #ffffff;
  min-width: 300px;
 
}
.nav-item.categorydropdown:hover > .sub-menu{
  display: block !important;
}
.nav-item.authorsdropdown:hover > .sub-menu{
  display: block !important;
}
.navbar-nav .nav-dropdown{
  padding-right: 20px;
}
.x-blog-nav .has-dropdown{
  padding-right: 20px;
}
.x-blog-nav .has-dropdown > a{
  position: relative;
}
.x-blog-nav .has-dropdown > a:after{
  content: '';
  position: absolute;
  right: 0px;
  width: 8px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  border-bottom: 2px solid #1965e1;
  border-right: 2px solid #1965e1;
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
}




/*----------Header-CSS-End-------------*/



/*----------Banner-CSS-start-------------*/
.x-blog-banner-section{
  width: 100%;
  min-height: 450px;
 background: url(../images/jpg/banner.jpg) no-repeat;
  background-size: cover;
  max-height: 450px;
  overflow: hidden;
  background-position: center;
  position: relative;
}
.x-blog-banner-section img{
  width: 100%;
}

.x-blog-bann-text {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.9);
  max-width: 500px;
  padding: 20px 30px;
}

.x-blog-bann-text .swing-blue-img{
  width: 300px;
  margin-bottom: 20px;
}

.x-blog-bann-text p {
  font-size: 16px;
  color: #494949;
}


/*----------Banner-CSS-End-------------*/


/*----------card-CSS-start-------------*/
.x-blog-card{
	width: 100%;
	margin-bottom: 20px;
}
.x-blog-card-img {
	max-height: 350px;
	overflow: hidden;
}
.x-blog-card-img img{
  width: 100%;
}
.x-blog-card-tags {
    margin-top: 30px;
}
.x-blog-card-tags a {
    color: #ffffff!important;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
	margin-right: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}
.x-blog-card-tags span:last-child{
	margin-right: 0px;
}

.tag-red{
	background-color: #dd6464;
}
.tag-blue{
	background-color: #7b98cf;
}
.tag-green{
	background-color: #4e8543;
}

.card-discription-wrapp p{
	font-size: 22px;
	color: #1864e0;
	font-weight: 600;
}
.x-blog-card-profile {
    display: flex;
    align-items: center;
}

.card-profile-img {
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.card-profile-img img{
	width: 100%;
}

.x-blog-card-profile .name {
    font-size: 16px;
    margin-bottom: 0px;
    color: #1864e0;
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    padding-left: 22px;
}

.x-blog-card-profile .name:before{
	content: "By";
	font-size: 16px;
	color: #494949;
	position: absolute;
	left: 0px;
}

.date {
    color: #494949;
    font-size: 15px;
}
/*----------card-CSS-End-------------*/


/*----------Pagination-CSS-start-------------*/
.pagination-row{
  margin: 50px -15px;

}

.x-blog-custom-pagination .pagination{
  margin-bottom: 0px;
}
.x-blog-custom-pagination .pagination li{
  margin-right: 10px;
}

.x-blog-custom-pagination .page-item .page-link{
  border-radius: 5px;
  background-color: #f1cfff;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  border: 0px;
  display: flex;
  align-items: center;
}

.x-blog-custom-pagination .img-single-arrow{
  width: 9px;
  margin: 0px 5px;
}

.x-blog-custom-pagination .img-dual-arrow{
  width: 15px;
  margin: 0px 5px;
}

.x-blog-result-page .custom-select{
    max-width: 130px;
}
.x-blog-result-page .select-label{
  font-weight: 400;
  margin-right: 0px;
}
.x-blog-page-data {
  display: flex;
  align-items: center;
  /* height: 100%; */
  text-align: right;

}

.x-blog-page-data .page-data{
  color: #494949;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.pagination .page-item.active a{
  background-color: #8613c9;
  color: #ffffff;
}


/*----------Pagination-CSS-End-------------*/


/*----------Accordian-CSS-Start-------------*/
.x-blog-accordian-table {
  width: 100%;
  padding: 0px 15px;
  margin: 26px 0px 80px 0px;
}

.x-blog-accordian-table .accordian-xblog{
  color: #020920;
    font-weight: 600;
    background-color: #fff;
    font-size: 18px;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.x-blog-accordian-table .accordian-xblog:before{
    content: "";
    color: #1965e1;
    background-color: #fff;
    background-image: url(../images/png/maximize.png);
    content: '';
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    margin: 0;
    padding-right: 10px;
}

.x-blog-accordian-table .accordian-xblog:after{
  border-top: 2px solid #ddd;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.x-blog-accordian-table .accordian-xblog span {
  background: #ffffff;
  padding: 0px 15px;
}
.x-blog-accordian-table .card-body{
  border:0px;
}

.accordian-xblog .accordian-xblog.collapsed:before{
  content: "";
  color: #1965e1;
  background-color: #fff;
  background-image: url(../images/png/minimize.png);
  content: '';
  height: 25px;
  width: 25px;
  display: block;
  float: left;
  margin: 0;
  padding-right: 10px;
}
/*----------Accordian-CSS-End-------------*/



/*----------Article Entry Page-CSS-Start-------------*/

.x-blog-cutomer-list {
  margin-bottom: 0px;
  display: flex;
}
.x-blog-cutomer-list li{
  margin-right: 15px;
}
.x-blog-cutomer-list li a {
  font-size: 15px;
  color: #1864e0;
  font-weight: 600;
}
.x-blog-cutomer-list li a span{
  color: #494949;
  font-weight: 600;
}

.x-blog-cutomer-list li .date{
  color: #494949;
  font-size: 15px;
  font-weight: 400;
}

.article-detail-heading{
   font-size: 18px;
   font-style: italic;
   color: #9fa2a4;
   margin-top: 30px;
}
.x-blog-article-img {
  margin-bottom: 20px;
}

.x-blog-article-detail h3{
  color: #494949;
}
.x-blog-article-detail ul li{
  color: #494949;
  margin-bottom: 10px;
}

.x-blog-article-detail ul li:last-child{
  margin-bottom: 0px;
}
.download-pdf-row h5 {
  font-weight: 600;
  color: #494949;
}
.download-pdf-row {
  margin: 40px 0px;
}

.article-para{
  color: #494949;
}
.download-pdf-btn{
  font-size: 16px;
  color: #1864e0;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.pdf-icon {
  width: 20px;
  margin-right: 15px;
}
.rel-pro-row {
  padding: 0px 15px;
  margin-bottom: 15px;
  width: 100%;
}
.rel-pro-row .rel-pro-heading{
  font-weight: 600;
  color: #494949;
  position: relative;
  background-color: #ffffff;

}
.rel-pro-row .rel-pro-heading:after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #494949;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.rel-pro-row .rel-pro-heading span{
  background: #fff;
    position: relative;
    z-index: 5;
    padding-right: 10px;
}
.related-project-box h5{
  color: #1864e0;
  font-size: 20px;
  font-weight: 600;
}

.related-project-box .tags{
  font-size: 13px;
  color: #ffffff;
  padding: 2px 8px;
  background-color: #dd6464;
  border-radius: 15px;
}
.x-blog-comments-people {
  margin-top: 20px;
}

.x-blog-comments-row .rel-pro-row{
  padding: 0px;
    margin: 50px 0px 0px 0px;
}
.x-blog-comments-people {
  display: flex;
  justify-content: space-around;
}
.commets-img {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.commets-img img{
  width: 100%;
}

.comment-user-title {
  color: #494949;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 3px;
}

.comment-user-title span{
  font-weight: 400;
}
.comment-datt-time {
  font-size: 14px;
  color: #494949;
}

.commets-detail p {
  margin-top: 20px;
  font-size: 14px;
  color: #494949;
  margin-bottom: 5px;
}

.comment-replay {
  color: #1864e0;
  font-weight: 600;
  font-size: 14px;

}

.comment-inner-replay-img {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;

}
.comment-inner-replay{
  border-left: 2px solid #d7d7d7;
}
.comment-inner-replay-img img{
  width: 100%;
}

.comment-inner-replay.x-blog-comments-people {
  justify-content: start;
  padding-left: 15px;
}
.comment-inner-replay-img{
  margin-right: 15px;
}

.leave-comment-row{
  margin-top: 20px;
}

.leave-comment-row p{
 font-size: 15px;
 color: #494949;
}

.comment-form {
  padding: 0px 15px;
  margin-bottom: 100px;
}

.article-tags{
  margin-top: 95px;
}
.article-tags .rel-pro-row{
  padding: 0px 0px;
}
.article-tags .x-blog-card-tags span{
   margin-bottom: 15px;
   display: inline-block;
}
.x-blog-article-product .rel-pro-row{
  padding: 0px 0px;
}
.x-blog-article-product {
	margin-top: 50px;
	/*background: #f3f3f3;*/
}
.article-tags .rel-pro-heading  span{
  font-size: 14px;
}
.x-blog-article-product .rel-pro-heading  span{
  font-size: 14px;
}
.x-block-article-product {
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #494949;
  padding-bottom: 40px;
  background: #f3f3f3;
  padding: 15px;
}

.x-block-article-product-img {
  width: 150px;
  margin: 15px auto;
}
.view-more{
  margin-bottom: 40px;
}
.x-block-article-product-img img{
  width: 100%;
}
.x-block-article-product-title h5{
  font-size: 25px;
  color: #061855;
  text-align: center;
  margin: 20px 0px 20px 0px;
  font-weight: 600;
}
.rating img{
  width: 18px;
}

.x-block-article-product-detail ul{
  list-style: inherit;
  padding-left: 15px;
}
.x-block-article-product-detail ul li{
  text-align: center;
}
.artle-product-price{
  text-align: center;
}
.artle-product-price h4{
  font-size: 40px;
  text-align: center;
}
.article-rating-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ratingt-points{
  font-size: 15px;
  color: #494949;
  font-weight: 600;
  margin-left: 5px;
}
.view-detail-link{
  font-size: 16px;
  text-decoration: underline;
  color: #494949;
}

.view-detail-link:hover{
  color: #494949;
}
/*----------Article Entry Page-CSS-End-------------*/


/*----------Category Page Page-CSS-Start-------------*/
.category-banner{
  /* background: url(../images/png/catogry-banner.png) no-repeat; */
  background-size: 100%;
  max-height: 250px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  
}

.heading-search-wrapp .title-row {
  margin-bottom: 10px;
}


.x-blog-category-wrapper {
  margin-bottom: 100px;
}


/*---------Category-box-wrapper-Start-------*/
.category-box {
  margin-bottom: 20px;
}

.category-box .category-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.category-box .category-img img{
  width: 100%;
}

.category-detail {
  padding-top: 20px;
}

.category-title {
  font-size: 20px;
  color: #1864e0;
  margin-bottom: 5px;
}

.category-entry{
  font-size: 14px;
  color: #494949;
  font-weight: 600;
}

.category-text {
  font-size: 14px;
  color: #494949;
  margin-bottom: 0px;
  margin: 10px 0px;
}
.category-view-all {
  margin-top: 10px;
}

.view-all {
  color: #1864e0;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}
.view-all:after{
  content: "";
  position: absolute;
  right: -40px;
  color: #1864e0;
  font-size: 18px;
  width: 25px;
  height: 15px;
  background: url(../images/png/right-arrow-blue.png)no-repeat;
  background-size: 80%;
}


/*---------Category-box-wrapper-End-------*/

/*----------Category Page Page-CSS-End-------------*/





/*----------Category-accessories-Page-CSS-Start-------------*/

.x-blog-category-accessories {
  margin-bottom: 100px;
}
.category-acces-filter-row {
 margin: 20px 0px;
}



/*----------Category-accessories-Page-CSS-End-------------*/


/*----------Author-Page-CSS-Start-------------*/


.x-blog-author-inner{
  padding: 40px 0px;
  border-bottom: 1px solid #494949;
}

.author-profile-img {
  width: 100%;
  max-width: 250px;
}

.author-profile-img img{
  width:100%;
}

.author-title{
  font-size: 25px;
  color:#1864e0;
  font-weight: 600;
}
.author-profile-detail p{
  font-size: 15px;
  color: #494949;
}
.autor-visit{
  font-size: 14px;
  color: #494949;
}

.autor-visit a{
  color:#1864e0;
}

/*----------Author-Page-CSS-End-------------*/


/*----------Tag-Filter-Page-CSS-Start-------------
.x-block-tag-filter-body-wrapp{
  margin-bottom: 100px;
  margin-top: 20px;

}
*/
.x-block-all-filter-tag {
  padding-top: 20px;
}

.x-block-filter-tag {
  padding-top: 10px;
}

.x-block-filter-tag .rel-pro-heading span {
  font-size: 14px;
}

.all-filter-tages {
  font-size: 13px;
  text-transform: capitalize;
  padding: 5px 10px;
  background-color: #e0e6ed;
  margin: 0px 5px 10px 0px;
  border-radius: 20px;
  color: #494949;
  font-weight: 600;
  display: inline-block;
}

.all-filter-tages:hover ,.all-filter-tages:focus {
  background-color: #922bd0;
  color: #ffffff;
}

.x-block-filter-tag .rel-pro-row{
  padding: 0px;
}
/*----------Tag-Filter-Page-CSS-End-------------*/



/*----------Search-Result-Page-CSS-Start-------------*/

.x-blog-search-result-wrapper{
  margin-bottom: 100px;
  margin-top: 20px;
}
.heading-search-wrapp .search-result-row{
  display: block;
  margin-bottom: 20px;
}
.search-result-row .x-blog-title{
  margin-bottom: 5px;
}
.show-result h5{
    font-size: 16px;
}
.show-result h5 span{
  font-weight: 600;
}

/*----------Search-Result-Page-CSS-End-------------*/



/*----------Landing-Page-CSS-Start-------------*/

.landing-page-banner{
  background-image: url(../images/jpg/banner-blank.jpg);
}

.cutting-img {
  width: 350px;
}

/*----------Landing-Page-CSS-End-------------*/

/*----------404-Page-CSS-Start-------------*/

.x-blog-page-not-found-wrapper{
  min-height: 600px;
}

.x-block-page-not-find h2{
  font-size: 80px;
  color: #494949;
  font-weight: 600;
  margin-bottom: 0px;
}
.x-block-page-not-find h5 {
  font-size: 40px;
  color: #494949;
  font-weight: 600;
}
/*----------404-Page-CSS-End-------------*/

/*----------Message-Page-CSS-Start-------------*/
.fail-message {
  background-color: #ffe2e2;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  font-weight: bold;
  position: absolute;
}

.fail-message p{
  font-size: 16px;
  color: red;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  margin-bottom: 0px;
  /*margin-left: -35.5%;*/
}

.success-message {
  background-color: #e7ffd8;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  width: 100%;
  position: absolute;
}

.success-message p{
  font-size: 16px;
 /* margin-left:-16.8%; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  color: green;
  margin-bottom: 0px;
}
.x-blobk-no-result-found {
  min-height: 600px;
  padding-top: 60px;
}

.no-result-title{
  font-size: 35px;
  color: #494949;
 
}
/*----------Message-Page-CSS-End-------------*/




/*----------Index-Page-CSS-Start-------------*/
.table-bordered {
  border: 1px solid #ddd;
}

/*----------Index-Page-CSS-End-------------*/



/*----------Footer-CSS-Start-------------*/
.x-blog-footer {
  background: #0D2EA0;
  
  margin-top: 30px;
  padding-top: 50px;
}

.x-blog-f-title{
  color: #84aef1;
  font-size: 20px;
  font-family: Catamaran, sans-serif !important;
  font-weight: 400;
  position: relative;
}

.x-blog-footer .f-social-link li a {
  color: #fff;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  font-size: 14px;
}

.x-blog-f-nav li a{
  color: #ffffff;
  font-size: 20px;
  font-family: Catamaran, sans-serif !important;
  font-weight: 400;
  position: relative;
}

.footer-btm {
  margin-top: 35px;
  background: #000;
  padding: 20px 0px;
}
.footer-btm-row {
  display: flex;
  justify-content: space-between;
}
.footer-btm .f-btm-link{
  color: #ffffff;
}


.footer-upper{
  padding: 25px 0 23px 0;
  margin-top: -72px;
  background: #f5f6f8;
  position: relative;
  top: -40px;
}

.footer-upper .stay-connected-form-container h6{
  color: #0d2ea0;
  font-size: 18px;
  font-weight: 400;
}
.footer-upper .form-container {
  display: flex;
}
.footer-upper  .stay-connected-form-container {
  padding: 0px 15px;
}
.footer-upper .form-group{
  width: 72%;
}
.footer-upper .form-group .form-control {

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
 
}
.footer-upper .btn-container{
  height: 55px;
  width: 28%;
}

.footer-upper .btn-container .grn-btn{
  font-size: 16px;
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  width: 72%;
  background: #2d9b00;
  border: none;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
}
.footer-upper .btn-container .grn-btn:focus{
  outline: none;
}
.footer-upper .form-control:focus{
  box-shadow: inherit;
}

.x-blog-f-social h6{
  color: #0d2ea0;
  font-size: 18px;
  font-weight: 400;
}

.x-blog-f-social ul li a {
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: block;
  color: #fff;
  background-color: #0d2ea0;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  
}




.x-blog-f-social-list {
  display: flex;
  margin-bottom: 0px;
  margin-top: 20px;
 
}

.x-blog-f-social-list li{
  margin-right: 15px;
}

.close{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:150px;
  color:green;
  font-weight: 800;
  padding: 12px 50px;
  transform: translate(0%, -50%);
}
.close:hover{
  color:green;
}
.error-close{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:150px;
  color:red;
  font-size: 22px;
  font-weight: 800;
  padding: 12px 50px;
  transform: translate(0%, -50%);
}
.error-close:hover{
  color:red;
}





/*----------Footer-CSS-End-------------*/







/*----------Responsive-CSS-start-------------*/

@media(max-width:1199px){



}

@media(max-width:1024px){
  .success-message p{
    font-size: 16px;
    /*margin-left:-143px;*/
  }
  .close{
    right:30px;
  }
  .fail-message p{
    /*margin-left:-45.5%;*/
    font-size: 17px;
  
  }
}

@media (max-width: 768px){
  .success-message p {
    font-size: 14px;
    /*margin-left: -9px;*/
  }
  .close{
    right:-30px;
    top:43%;
    font-size: 20px;
  }
  .error-close{
    right:30px;
  }
  .fail-message p{
    /*margin-left:-29.5%;*/
    font-size: 17px;
  
  }
}

@media (max-width: 540px){
  .success-message p {
    font-size: 14px;
    margin-left: 0px;
    float:none;
  }
  .close{
    right:-28px;
    top:65%;
  }
  .fail-message p{
    margin-left:0px;
    text-align: center;
    font-size: 17px;
  }
  .error-close{
    top:65%;
  }
}

@media (max-width: 425px){
  .success-message p {
    font-size: 13px;
    margin-left: 1px;
  }
  .close{
    right:-33px;
    top:64%;
  }
}

@media (max-width: 320px){
  .success-message p {
    font-size: 14px;
    margin-left: 0px;
    padding:2px;
  }
  .close{
    right:-28px;
    top:77%;
  }
  .error-close{
    right:-20px;
  }
}


@media(min-width:992px) and (max-width:1920px){
  .x-blog-social-icons{
    margin-top: -20px;
  }
}


@media(max-width:991px){


.x-blog-banner-section{
  min-height: auto;
}
.category-banner{
  min-height: auto;
  max-height: auto;
}
  .x-blog-nav .navbar{
    flex-direction: row-reverse;
width: 100%;
}
.x-blog-nav .navbar .navbar-nav li:first-child a {
    padding-left: 15px;
}
.x-blog-nav .navbar .navbar-nav li a{
    border-bottom: 1px solid #6197e7;
    color: #ffffff;
}
.x-blog-left-col {
    padding-left: 15px;
}
.x-blog-nav .container{
    max-width: 100%;
}
.x-blog-nav  .navbar-collapse{
    background: rgb(25, 101, 225);
    margin: 0px -15px;
}

.navbar-nav{
    padding: 0px 15px;
}


  .search-input-wrapp{
    display: none;
  }
  

  .search-for-mobile{
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  .search-for-mobile .search-input-wrapp {
    display: block;
  }
  .title-row {
    margin-bottom: 0px;
    justify-content: center;
}

  .clearfilter {
    font-size: 12px;
}
  .x-blog-select-wrapp{
    margin-bottom: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  .x-blog-result-page .select-label{
    margin-right: 20px;
  }
  .x-blog-page-data{
    text-align: center;
  }
  .x-blog-nav .has-dropdown{
    padding-right: 0px;
  }
  .x-blog-nav .has-dropdown > a:after {
 
    right: 0px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;

}

    .sub-menu{
      background: #1965e1;
      min-width: 300px;
      width: 100%;
      position: static;
    }

    .footer-upper .form-group .form-control{
      height: 45px;
    }
    .footer-upper .btn-container .grn-btn{
      height: 45px;
      line-height: 15px;
      width: auto;
      font-size: 15px;
    }

    .x-blog-f-social-list {
      margin-top: 0px;
      margin-bottom: 15px;
     }
     .article-entry-head-row .x-blog-f-social-list li {
      margin-right: 20px;
  }
  .x-blog-f-social-list li {
    margin-right: 10px;
}
   .x-blog-f-title {
    font-size: 15px;
   }
   .x-blog-f-nav li a{
     font-size: 15px;
   }

   .x-blog-footer .f-social-link li a{
     font-size: 13px;
   }

   .pagination{
     justify-content: center;
   }

   .article-entry-head-row{
     justify-content: space-between;
   }

   .article-entry-head-row .search-for-mobile{
     margin-bottom: 0px;
   }
   .title-row .x-blog-f-social {
     margin-left: 0px; 
     
}

.article-tags {
  margin-top: 0px;
}

.comment-form {
  padding: 0px 0px;
  margin-bottom: 50px;
}

.category-page-heading .search-input-wrapp{
  display: flex;
} 
.category-page-heading .title-row {
  justify-content: start;
}

.x-blog-author-inner .search-for-mobile {
  max-width: 100%;
  max-width:300px;
}

.tag-filter-heading .search-input-wrapp {
  display: flex;
}

.search-result-page .search-input-wrapp {
  display: flex;
}
.landing-page-banner .x-blog-bann-text{
  left: 5%;
}


}

@media(max-width:767px){
    .title-row {
      display: block;
    }
    .article-entry-head-row .x-blog-f-social-list{
      justify-content: start;
    }

    .x-blog-cutomer-list {
      flex-wrap: wrap;
  }
  .related-project-box {
    margin-bottom: 20px;
}
    .x-blog-bann-text{
        max-width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px auto;
    }
    .search-for-mobile{
      max-width: 100%;
    }
    .x-blog-title {
      color: #494949;
      margin-bottom: 10px;
      font-size: 28px;
  }
    .x-block-filter-select{
      position: relative;
      margin-bottom: 40px;
      
    }
     /*.clearfilter-wrapp{
      position: absolute;
      top: 50px;
      left: 0px;
      right: 0px;
      margin: 0px auto;
      text-align: center;
    }*/

    .x-blog-custom-pagination .page-item .page-link{
      padding: 5px 10px;
      font-size: 13px;
    }
    .x-blog-custom-pagination .img-single-arrow {
      width: 6px;
      margin: 0px 5px;
  }
  .x-blog-custom-pagination .img-dual-arrow {
    width: 10px;
    margin: 0px 3px;
}
.x-blog-custom-pagination .pagination li {
  margin-right: 5px;
}
.clearfilter {
  font-size: 15px;
}
.footer-upper .stay-connected-form-container h6 {
  font-size: 16px;
  text-align: center;
}
.x-blog-f-social h6 {
  font-size: 16px;
  text-align: center;
}
.x-blog-f-social-list {
  margin-top: 15px;
  justify-content: center;
}

.footer-btm .f-btm-link {
  color: #ffffff;
  font-size: 12px;
  display: block;
  margin-bottom: 7px;
}
.footer-btm-row{
 display: block;
}

.category-page-heading .row{
  flex-direction: column-reverse;
}
.category-page-heading .row .col-lg-9{
  order: 2;
}
.category-page-heading .row .col-lg-3 {
  order: 2;
}

.category-page-heading .x-blog-input-group{
  margin-bottom: 20px;
}
.category-acces-filter-row .x-blog-select-wrapp{
  margin-bottom: 30px;
}
.category-acces-filter-row .clearfilter-wrapp{
  top: 65px;
}

.author-profile-img {
  margin: 0px auto;
}
.author-profile-detail {
  text-align: center;
  margin-top: 20px;
}
.author-profile-detail p{
  text-align: left;
}
.author-clearfilter{
  top: 70px;
}
.tag-filter-heading .row {
  flex-direction: column-reverse;
}
.tag-filter-heading .row .col-lg-9{
  order: 2;
} 
.tag-filter-heading .row .col-lg-3{
  order: 2;
}

.tag-filter-heading .search-input-wrapp {
   margin-bottom: 20px;
}
.clear-filter-m{
  top: 70px;
}

.cutting-img {
  width: 300px;
}
.landing-page-banner .x-blog-bann-text {
  left: 0px;
}
    
}

/*----------Responsive-CSS-End-------------*/