
.overlay-main-contnr h1, .overlay-main-contnr h2, .overlay-main-contnr h3 {
    font-size: 42px;
}

@media (max-width: 767px) {

    .overlay-main-contnr h1, .overlay-main-contnr h2, .overlay-main-contnr h3 {
        font-size: 30px !important;
    }
}
/*hero-banner*/
.overlay-main-contnr {
    /*padding: 30px;*/
    max-height: inherit;
}
    .overlay-main-contnr > img {
        height: 400px;
        width: 100%;
    }
    .overlay-main-contnr .container {
        max-width: 1140px;
    }

.overlay-inner-main-contnr {
    min-height: 292px !important;
    position: relative !important;
}

    .overlay-inner-main-contnr .field-overlay-inner {
        position: relative;
        z-index: 2;
        text-align: left;
    }

    .overlay-inner-main-contnr .al-center {
        text-align: center !important;
    }

    .overlay-inner-main-contnr .top-left {
        left: 0;
        top: 0;
    }

    .overlay-inner-main-contnr .center-left {
        left: 0;
        top: 15px;
    }

    .overlay-inner-main-contnr .bottom-left {
        left: 0;
        bottom: 0;
    }

    .overlay-inner-main-contnr .top-right {
        top: 0;
        right: 0;
    }

    .overlay-inner-main-contnr .center-right {
        right: 0;
        top: 15px;
    }

    .overlay-inner-main-contnr .bottom-right {
        right: 0;
        bottom: 0;
    }

.custom-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.field-logo a {
    width: 107px;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 35%
}

.field-overlay {
    max-width: 500px;
    padding: 15px;
    margin: -12px;
    position: absolute;
    width: 100%;
}

    .field-overlay h1 {
        font-weight: 400;
        line-height: 1.1em;
    }

    .field-overlay p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .field-overlay .btn-contnr {
        display: flex;
    }

        .field-overlay .btn-contnr .btn {
            width: 100%;
            max-width: 350px;
            font-size: 14px;
            font-weight: 700;
            padding: 15px 15px !important;
            border-radius: 0;
            transition: all 0.5s ease;
            color: #fff;
            background-color: #1965e1;
            border-color: #0250a3;
        }

            .field-overlay .btn-contnr .btn:nth-child(2) {
                width: 100%;
                max-width: 350px;
                font-size: 14px;
                font-weight: 700;
                padding: 15px 15px;
                border-radius: 0;
                transition: all 0.5s ease;
                color: #1965e1;
                background-color: #ffffff;
                border-color: #0250a3;
                margin-left: 14px;
                height:100%
            }

            .field-overlay .btn-contnr .btn:hover {
                box-shadow: -1px 3px 5px gray;
            }

.non-padding {
    padding: 0 !important;
}

@media (max-width: 767px) {
    .overlay-main-contnr {
        padding: 0 !important;
        background-image: none !important;
    }

    .full-width-carousel .carousel-inner {
        padding-bottom: 45px;
    }

    .field-overlay {
        text-align: center;
        margin: 0;
        padding: 15px 45px;
        width: 100%;
        max-width: 100%;
        position: static;
    }

        .field-overlay .field-logo {
            margin-bottom: 24px;
        }

            .field-overlay .field-logo a {
                margin: auto;
            }

        .field-overlay h1 {
            margin-bottom: 15px;
        }

        .field-overlay p {
            margin-bottom: 24px;
        }

        .field-overlay .btn-contnr {
            display: block;
        }

            .field-overlay .btn-contnr .btn {
                display: block;
                margin: auto;
            }

                .field-overlay .btn-contnr .btn:nth-child(2) {
                    margin-left: auto !important;
                    margin-top: 15px;
                }
}
/*text-componant*/
.textComponent-inner {
    padding: 40px;
    margin: 25px 0;
    background-size: cover;
}

    .textComponent-inner .text-overlay {
        display: inline-block;
        padding: 20px 55px;
        position: relative;
    }

        .textComponent-inner .text-overlay .custom-overlay {
            background: #ffffff;
        }

        .textComponent-inner .text-overlay h1, .textComponent-inner .text-overlay h2, .textComponent-inner .text-overlay h3 {
            font-weight: 400;
        }

        .textComponent-inner .text-overlay p {
            font-size: 16px;
            color: #4a4a4a;
            margin: auto;
        }

.txt-inner-main-contr {
    position: relative;
    z-index: 2;
}

.field-textComp-backround {
    background: #d8d8d8;
}

@media (max-width: 767px) {
    .textComponent-inner {
        padding: 15px;
    }

        .textComponent-inner .text-overlay {
            padding: 20px 15px;
        }

            .textComponent-inner .text-overlay h1, .textComponent-inner .text-overlay h2, .textComponent-inner .text-overlay h3 {
                margin-bottom: 15px;
            }

    .txt-inner-main-contr {
        text-align: center;
    }
}
/*crousel*/
.newcarousel {
    padding: 0 !important;
    border: 0 !important;
}

.carousel-indicators {
    height: 12px;
    margin-bottom:10px;
}

    .carousel-indicators li {
        width: 15px !important;
        height: 15px !important;
        border-radius: 50% !important;
        border: 1px solid #000000 !important;
        margin-right: 2px !important;
        margin-left: 2px !important;
    }

        .carousel-indicators li.active {
            width: 15px !important;
            height: 15px !important;
            margin: 1px !important;
            background-color: #000000;
        }

    .carousel-indicators a {
        position: relative;
    }

    .carousel-indicators .crousel-arrow-circular {
        text-indent: initial;
        width: 15px !important;
        height: 15px !important;
        border-radius: 0;
        border: 1px solid transparent !important;
        margin-right: 5px !important;
        margin-left: 5px !important;
    }

    .carousel-indicators .crousel-play {
        background-image: url("../../_images/play.png");
        height: 21px;
        width: 21px;
        display: none;
        background-size: contain;
        top: -3px;
        left: -3px;
    }

    .carousel-indicators .crousel-pause {
        width: 13px;
        height: 16px;
        position: relative;
        display: block;
    }

        .carousel-indicators .crousel-pause::after, .carousel-indicators .crousel-pause::before {
            content: "";
            position: absolute;
            width: 5px;
            background: #000000;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 3px;
        }

        .carousel-indicators .crousel-pause::after {
            right: 0;
            left: auto;
        }

ul.crousel-arrow {
    list-style: none;
    padding: 0;
    position: relative;
    top: 45%;
}

    ul.crousel-arrow li {
        width: 35px;
        height: 35px;
        background-color: #000000;
        border-radius: 50%;
        margin: auto;
    }

        ul.crousel-arrow li::before {
            position: relative;
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
            margin-right: 0.5em;
            top: 4px;
        }

.carousel-control-prev {
    width: 10%;
}

    .carousel-control-prev.left {
        background-image: none !important;
    }

    .carousel-control-prev.left,
    .carousel-control-next.right {
        width: 10%;
    }

    .carousel-control-prev ul.crousel-arrow li::before {
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        left: 7px;
    }

.carousel-control-next {
    width: 10%;
}

    .carousel-control-next.right {
        background-image: none !important;
    }

    .carousel-control-next ul.crousel-arrow li::before {
        border-right: 2px solid #ffffff;
        border-top: 2px solid #ffffff;
    }

.carousel-control-prev1 ul.crousel-arrow li::before {
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    left: 5px;
}

.carousel-control-next1 ul.crousel-arrow li::before {
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
}

.field-overlay-main-wrapper {
    position: static !important;
}

/*full width half half crouel*/
.full-width-half-half-carousel {
    padding: 0 !important;
}

.full-width-half-half-carousel .crousel-img {
    background-size: cover;
}

.full-width-half-half-carousel .overlay-main-contnr {
    padding: 0;
}

    .full-width-half-half-carousel .overlay-main-contnr .overlay-inner-main-contnr {
        min-height: auto !important;
        padding-left: 15px;
        padding-right: 15px;
    }

.full-width-half-half-carousel .field-overlay {
    margin: 0;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 45px;
    padding-bottom: 55px;
    float: right;
    height: 100%;
    text-align: center;
    position: static;
}

    .full-width-half-half-carousel .field-overlay .field-logo a {
        margin: auto;
    }

.full-width-half-half-carousel .carousel-indicators {
    right: auto;
    left: 22px;
    bottom: 20px;
    margin-left: 8.5%;
    z-index: 3;
    text-align: left;
}
.full-width-carousel .overlay-main-contnr {
    /*padding-bottom: 60px;*/
}

/*half half carousel reverse*/


.half-half-carousel-reverse .carousel-indicators {
    left: auto;
    right: 0;
    margin-right: 10.5%;
    text-align: right;
}

.half-half-carousel-reverse .overlay-inner-main-contnr {
    -ms-flex-direction: initial !important;
    flex-direction: initial !important;
}

    .half-half-carousel-reverse .overlay-inner-main-contnr .field-overlay {
        padding-right: 20%;
        padding-left: 45px;
    }

.half-half-carousel-reverse .flex-row-reverse .crousel-img {
    float: left;
}

.half-half-carousel-reverse .flex-row-reverse .col-md-6.non-padding {
    float: right;
}
 
/*full width 3/7 crousel*/
.full-width-3-7-crousel .field-overlay {
    max-width: 100%;
    padding-left: 28%;
}

.full-width-3-7-crousel .btn-contnr {
    display: block;
}

    .full-width-3-7-crousel .btn-contnr a.btn:nth-child(2) {
        margin-left: 0 !important;
        margin-top: 15px;
    }

.full-width-3-7-crousel .carousel-indicators {
    right: 0;
    left: auto;
    margin-right: 8.5%;
    text-align:right;
}

.full-width-3-7-crousel.half-half-carousel-reverse .carousel-indicators {
    right: auto;
    text-align: left;
}
 
.flex-row-reverse .crousel-img {
    float: right;
}

.flex-row-reverse .col-md-6.non-padding {
    float: left;
}

@media (max-width: 767px) {
    .field-overlay {
        padding-bottom: 55px;
    }

    ol.carousel-indicators {
        right: 0 !important;
        left: 0 !important;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .full-width-half-half-carousel .carousel-indicators {
        margin-right: 10%;
    }
     
    .full-width-half-half-carousel .crousel-img {
        min-height: 220px !important;
    }

    .full-width-half-half-carousel .field-overlay {
        padding-right: 15px;
        padding-left: 15px;
        float: none;
    }

    .half-half-carousel-reverse .overlay-inner-main-contnr .field-overlay {
        padding-left: 15px;
        padding-right: 15px;
    }

    .full-width-3-7-crousel .field-overlay {
        max-width: 100%;
        padding-left: 15px;
    }
    .full-width-3-7-crousel .btn-contnr a.btn:nth-child(2) {
        margin-left: auto !important;
    }
    .half-half-carousel-reverse .overlay-main-contnr {
        padding-bottom: 0;
    }

    .full-width-half-half-carousel .custom-overlay {
        opacity: inherit !important;
    }
    .full-width-3-7-crousel .carousel-indicators {
        text-align: right;
    }
    .full-width-3-7-crousel.half-half-carousel-reverse .carousel-indicators,
    .full-width-half-half-carousel .carousel-indicators {
        text-align: center !important;
    }
}

/*ATC-bill-board*/


.old-price {
    color: #e41912;
    font-size: 20px;
    margin-right: 15px;
    position: relative;
}

    .old-price::before {
        content: "";
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #e41912;
    }

.new-price {
    color: #000000;
}
.ATC-bill-board-right .field-overlay {
    right: 0;
    top: 15px;
}

.ATC-bill-board-center .field-overlay {
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin: 0;
}

.ATC-bill-board-left .ATC-bill-board-logo-contnr {
    float: right;
    text-align: right;
    padding-right: 15px;
    padding-left: 60px;
}

    .ATC-bill-board-left .ATC-bill-board-logo-contnr .field-logo {
        width: 100%;
        display: inline-block;
    }

        .ATC-bill-board-left .ATC-bill-board-logo-contnr .field-logo a {
            float: right;
        }

.ATC-bill-board-left .field-overlay {
    left: 0;
    top: 15px;
}

.field-logo a {

width: 107px;
height: 35px;
display: block;
background-repeat: no-repeat;
background-size: 100%;
background-position: center left;
}

.ATC-bill-board .btn-contnr .btn {
    background-color: #009d21;
    border-color: #009d21;
}

    .ATC-bill-board .btn-contnr .btn:nth-child(2) {
        background-color: #1965e1;
        color: #ffffff;
    }

@media (max-width: 767px) {
    .ATC-bill-board-logo-contnr .field-logo {
        text-align: center;
    }
    .ATC-bill-board {
        padding: 0;
        height: 220px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 375px;
        margin-top: 125px;
    }

        .ATC-bill-board::before {
            content: "";
            min-height: 125px;
            display: block;
            top: -125px;
            position: absolute;
            width: 100%;
        }

        .ATC-bill-board::after {
            content: "";
            min-height: 375px;
            display: block;
            bottom: -375px;
            position: absolute;
            width: 100%;
        }

        .ATC-bill-board .non-padding {
            padding-left: 15px;
            padding-right: 15px;
        }

        .ATC-bill-board .field-overlay {
            bottom: -200px;
            top: auto;
            position: relative;
        }

    .ATC-bill-board-logo-contnr {
        position: absolute;
        top: -125px;
        left: 0;
    }

        .ATC-bill-board-logo-contnr .field-logo a {
            margin: auto;
        }

        .ATC-bill-board-logo-contnr h1, .ATC-bill-board-logo-contnr h2,
        .ATC-bill-board-logo-contnr h3, .ATC-bill-board-logo-contnr h4,
        .ATC-bill-board-logo-contnr h5 .ATC-bill-board-logo-contnr h6 {
            text-align: center;
        }

    .ATC-bill-board-center .field-overlay {
        transform: none;
        left: auto;
    }

    .ATC-bill-board-left .ATC-bill-board-logo-contnr .field-logo a {
        float: none;
    }
    .ATC-bill-board .overlay-inner-main-contnr .field-overlay .field-overlay-inner .btn-contnr .col-md-12 {
        padding: 0;
    }
}

/*singleLineMulti-LinkNav*/

.singleLineMulti-LinkNavLinking-main-Contnr h4 {
    padding-left: 45px;
    padding-bottom: 10px;
}

.Multi-Link-btn-contnr {
    width: 100%;
    display: flex;
    padding: 20px 45px;
    box-shadow: -1px 3px 5px gray;
    text-align: center;
}

    .Multi-Link-btn-contnr h5 {
        float: left;
        font-weight: 700;
    }

    .Multi-Link-btn-contnr .primary, .Multi-Link-btn-contnr .eCommerce {
        color: #ffffff;
    }

    .Multi-Link-btn-contnr .secondary {
        color: #1965e1;
    }

.btn-contnr .btn {
    width: 100%;
    max-width: 265px;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 15px;
    margin-right: 15px;
    border-radius: 0;
    transition: all 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
}

.primary {
    color: #ffffff;
    background-color: #1965e1;
    border-color: #0250a3;
}

.secondary {
    color: #1965e1;
    background-color: #ffffff;
    border-color: #0250a3;
}

.eCommerce {
    background-color: #009d21;
    color: #ffffff;
}

.Text-Link {
    background-color: #ffffff;
    color: #1965e1;
    border: none;
}

/*button color*/
.slategray {
    background-color: #42748b;
    border-color: #42748b;
    color: #ffffff !important;
}

.lightseagreen {
    background-color: #00b3ad;
    border-color: #00b3ad;
    color: #ffffff !important;
}

.magenta {
    background-color: #f00076;
    border-color: #f00076;
    color: #ffffff;
}

.orange {
    background-color: #ff6a00;
    border-color: #ff6a00;
    color: #ffffff !important;
}

/*button color*/
.btn-contnr .btn:hover {
    box-shadow: -1px 3px 5px gray;
    color: none;
}

.text-center {
    display: block;
    text-align: center;
}

.text-right {
    display: block;
    text-align: right;
}
.Multi-Link-btn-contnr .btn {
    width: 100%;
    max-width: 295px;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 15px;
    border-radius: 0;
    transition: all 0.5s ease;
    color: #fff;
    background-color: #1965e1;
    border-color: #0250a3;
    margin-right: 15px;
    margin-bottom:15px;
}

.Multi-Link-btn-contnr .btn:hover {
    box-shadow: -1px 3px 5px grey;
}

@media (max-width: 767px) {
    .singleLineMulti-LinkNavLinking-main-Contnr h4 {
        text-align: center;
    }

    .Multi-Link-btn-contnr {
        display: block;
        text-align: center;
    }

        .Multi-Link-btn-contnr h5 {
            text-align: center;
            float: none;
        }

        .Multi-Link-btn-contnr .btn {
            margin-bottom: 10px;
        }
}
 
.field-logo img {
    height: 35px !important;
}

/*===tab start===*/
.main-tab-component ul.nav {
    margin-bottom: 4px;
}

.main-tab-component .nav li.nav-item {
    margin-right: 6px;
    min-width: 19%;
}

    .main-tab-component .nav li.nav-item a.nav-link {
        background-color: #cccccc;
        color: #3a3f4b;
        font-weight: 700;
        font-size: 15px;
        height: auto;
        display: block;
        line-height: 35px;
        padding: 0 20px 0 0;
    }

        .main-tab-component .nav li.nav-item a.nav-link .plus-icon {
            display: block;
        }

        .main-tab-component .nav li.nav-item a.nav-link .minus-icon {
            display: none;
        }

    .main-tab-component .nav li.nav-item.active a {
        border: 1px solid;
        border-bottom: 4px solid;
        border-color: #1965e1;
        background-color: #ffffff;
        color: #1965e1;
        margin-bottom: -4px;
    }

        .main-tab-component .nav li.nav-item.active a .plus-icon {
            display: none;
        }

        .main-tab-component .nav li.nav-item.active a .minus-icon {
            display: block;
        }

        .main-tab-component .nav li.nav-item.active a .minus-icon {
            display: block;
        }

.inner-tab-content {
    width: 83%;
    padding: 45px;
}

.tab-icon-contnr {
    display: block;
    float: left;
    height: 35px;
    width: 35px;
    position: relative;
}

    .tab-icon-contnr i {
        display: block;
        width: 15px;
        text-align: center;
        color: #ffffff;
        height: 15px;
        float: left;
        border-radius: 2px;
        padding-right: 1px;
        font-size: 15px;
        font-weight: 300;
        background-size: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

@media (max-width: 767px) {
    .main-tab-component {
        position: relative;
    }

    .main-tab-component .tab-content {
        position: static;
    }

    .main-tab-component .tab-content .tab-pane {
        position: static;
    }

    .main-tab-component .tab-content .tab-pane .inner-tab-content {
        width: auto;
        padding: 0;
        position: static;
        background:white !important;
    }

    .main-tab-component .tab-content .tab-pane:nth-child(1) .inner-tab-content {
        top: 52px;
        left: 52px;
    }

    .main-tab-component .tab-content .tab-pane:nth-child(2) .inner-tab-content {
        top: 100px;
        left: 52px;
    }

    .main-tab-component .tab-content .tab-pane:nth-child(3) .inner-tab-content {
        top: 150px;
        left: 52px;
    }

    .main-tab-component .tab-content .tab-pane:nth-child(4) .inner-tab-content {
        top: 195px;
        left: 52px;
    }

    .main-tab-component .tab-content .tab-pane:nth-child(5) .inner-tab-content {
        left: 52px;
    }

                .main-tab-component .tab-content .tab-pane .inner-tab-content {
                    width: auto;
                    padding: 0;
                    /*position: absolute;*/
                }

                .main-tab-component .tab-content .tab-pane:nth-child(1) .inner-tab-content {
                    top: 52px;
                    left: 52px;
                }

                .main-tab-component .tab-content .tab-pane:nth-child(2) .inner-tab-content {
                    top: 100px;
                    left: 52px;
                }

                .main-tab-component .tab-content .tab-pane:nth-child(3) .inner-tab-content {
                    top: 150px;
                    left: 52px;
                }

                .main-tab-component .tab-content .tab-pane:nth-child(4) .inner-tab-content {
                    top: 195px;
                    left: 52px;
                }

                .main-tab-component .tab-content .tab-pane:nth-child(5) .inner-tab-content {
                    left: 52px;
                }

        .main-tab-component .nav li.nav-item {
            width: 100%;
            margin-bottom: 10px;
        }

    .main-tab-component .nav li.nav-item a {
        text-align: center;
    }

    .main-tab-component .nav li.nav-item.active a {
        margin-bottom: 0;
        border-bottom: 7px solid;
    }

    .main-tab-component .nav li.nav-item.active ~ li a {
        background: transparent !important;
        border-color: transparent !important;
        color: transparent !important;
    }

    .main-tab-component .nav li.nav-item.active ~ li a .tab-icon-contnr {
        background: #cccccc;
        border-radius: 3px;
    }
     
    .overlay-inner-main-contnr .field-overlay-inner{
        text-align:center !important;
    }
   
}

@media (max-width: 640px) {
    .main-tab-component .tab-content {
        width: 88%;
    }
}

@media (max-width: 480px) {
    .main-tab-component .tab-content {
        width: 85%;
    }
}

.main-tab-component ul.nav-tabs {
    border-bottom: 0 !important;
}

.main-tab-component {
    margin-top: 20px;
}
/*===tab End===*/
/*===dealer finder start===*/
.dealer-finder-background {
  background-size: cover;
  background-repeat: no-repeat;
}

.dealerFinder-main-contnr {
  padding: 45px;
}
.dealerFinder-main-contnr .results-finder-hedding {
  padding: 20px 0;
}
.dealerFinder-main-contnr .results-finder-hedding p {
  font-size: 12px;
  max-width: 456px;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .btn-group {
  width: 100%;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .btn-group button.btn-default {
  min-width: 100%;
  background-color: #ffffff;
  box-shadow: none;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .btn-group button.btn-default .filter-option {
  width: 100%;
  text-align: left;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .btn-group button.btn-default .bs-caret .caret {
  border: 0;
  position: absolute;
  right: 15px;
  top: 20px;
  background-size: contain;
  height: 15px;
  width: 15px;
  float: right;
  background-repeat: no-repeat;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .btn-group.open .btn {
  background-color: #ffffff;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .result-dropdown-menu {
  min-width: 100%;
  padding: 0;
  margin: 0;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .result-dropdown-menu ul {
  position: static;
  margin: 0;
  width: 100%;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .result-dropdown-menu ul li a {
  padding: 10px 20px;
  border-bottom: 1px solid #071956;
}
.dealerFinder-main-contnr .dealer-filter-drpDown .result-dropdown-menu ul li:last-child a {
  border: 0;
}
.dealerFinder-main-contnr .Zip-Code-contnr .zip-code-txt {
  width: 100%;
  height: 52px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dealerFinder-main-contnr .Zip-Code-contnr .zip-code-txt:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 6px #ce8483;
}
.dealerFinder-main-contnr .submit-btn-contnr {
  padding-top: 22px;
}
.dealerFinder-main-contnr .submit-btn-contnr a {
  color: #ffffff;
}
.dealerFinder-main-contnr .service-options-block-contr {
  display: flex;
  margin-top: 20px;
}
.dealerFinder-main-contnr .service-options-block-contr .service-option {
  padding: 0 15px;
}
.dealerFinder-main-contnr .dealer-loading-animation {
  padding-top: 30px;
  text-align: center;
}
.dealerFinder-main-contnr .dealer-loading-animation .spinner {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
}
.dealerFinder-main-contnr .dealer-loading-animation .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #eb7200;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.dealerFinder-main-contnr .dealer-loading-animation .spinner .bounce1 {
  animation-delay: -0.32s;
}
.dealerFinder-main-contnr .dealer-loading-animation .spinner .bounce2 {
  animation-delay: -0.16s;
}
.dealerFinder-main-contnr .dealer-loading-animation h3 {
  color: #eb7200;
  font-size: 3.4rem;
  line-height: 1.15em;
  font-weight: 400;
}
.dealerFinder-main-contnr .dealer-detail-component ul {
  border: 0;
}
.dealerFinder-main-contnr .dealer-detail-component ul li {
  margin-right: 3px;
}
.dealerFinder-main-contnr .dealer-detail-component ul li a.nav-link {
  border-radius: 0;
  background: #cccccc;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  min-height: 57px;
  margin-right: 0;
}
.dealerFinder-main-contnr .dealer-detail-component ul li a.nav-link span {
  display: block;
  font-size: 11px;
}
.dealerFinder-main-contnr .dealer-detail-component ul li.active a {
  background: #ffffff;
  border-bottom: 4px solid #ff6a00;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr {
  background: #ffffff;
  overflow: hidden;
  /*scroll bar*/
  /*scroll bar*/
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar {
  float: left;
  height: 300px;
  /*overflow-y: scroll;*/
  top: 3px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar .force-overflow {
  min-height: 450px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar::-webkit-scrollbar {
  width: 8px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner {
  width: 50%;
  float: left;
  padding: 20px;
  background-color: #ffffff;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner:last-child .dealer-details-main {
  border: 0;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .dealer-details-main {
  display: flex;
  border-right: 1px solid gray;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .pin-code {
  float: left;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .pin-top {
  width: 20px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .pin-text {
  margin: auto;
  width: 100%;
  height: 36px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  background-size: 135%;
  background-position: 50% -50%;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-main-contnr {
  font-size: 14px;
  font-size: 1.4rem;
  position: relative;
  padding-bottom: 55px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .addr-d-title {
  display: block;
  color: #1965e1;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .dealer-d-type {
  color: #071956;
  font-weight: 600;
  display: block;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main {
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.5;
  color: #071956;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main .address-d-line {
  display: block;
  color: #000;
  padding-left: 25px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main .address-d-line a {
  color: #000;
  display: block;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main i {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: grey;
  height: 30px;
  width: 24px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main a.dealer-txt {
  display: block;
  color: #000;
  padding-left: 25px;
  text-decoration: none;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main .miscellaneous-item {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  margin-left: -10px;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main .miscellaneous-item li {
  width: 25%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}
.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main .miscellaneous-item li a {
  text-decoration: none;
  color: #071956;
}

@media (max-width: 767px) {
    .dealer-finder-background #divSearch .in-page-btn-contr {
        padding-top: 22px !important;
        padding: 0 15px;
    }

    .dealer-finder-background .in-page-zipcode-contr .service-options-block {
        padding: 0 15px;
    }
  .dealerFinder-main-contnr {
    padding: 0;
  }
  .dealerFinder-main-contnr .col-xs-12 {
    margin-top: 15px;
  }
  .dealerFinder-main-contnr .submit-btn-contnr {
    text-align: center;
  }
  .dealerFinder-main-contnr .service-options-block-contr {
    display: block;
  }
  .dealerFinder-main-contnr .dealer-detail-component ul li {
    width: 100%;
    margin-bottom: 3px;
  }
  .dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .dealer-detail-inner {
    width: 100%;
  }
  .dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .dealer-detail-inner .dealer-details-main {
    border: 0;
  }
  .dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .dealer-detail-inner .dealer-details-main .address-main-contnr {
    padding-bottom: 0;
  }
    .dealer-finder-background .Zip-Code-contnr {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/*06/10/2021 start*/
.dealer-finder-background .dealerFinder-main-contnr {
    padding: 0;
}

    .dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component {
        float: left;
        height: 300px;
        overflow-y: scroll;
        top: 3px;
        width: 100%;
        background-color: #ffffff;
    }

        .dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr {
            min-height: 450px;
        }

            .dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar {
                width: 100%;
                height: auto;
            }

                .dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar .force-overflow {
                    min-height: auto;
                }

        .dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        .dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component::-webkit-scrollbar {
            width: 8px;
        }

        .dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #cccccc;
        }

.dealer-finder-background ul {
    padding-left: 11px;
}

/*.dealer-finder-background ul li {
    padding: 0 3px;
    height: 55px;
    width: 25%;
}*/

.dealer-finder-background ul li p {
    background-color: #cccccc;
}
.in-page-map {
    height: 300px;
    background: #fff;
    position: relative;
    top: 55px;
    left: -15px;
    padding-right: 0;
}
.in-page-map-inner {
    position: relative;
    overflow: hidden;
    border: 0;
    height: 100% !important;
}
.dealer-finder-background .results-finder-hedding {
    padding-left: 15px !important;
}
.dealer-finder-background .dealerFinder-main-contnr .dealer-detail-component .dealer-detail-tab-contnr .scrollbar .force-overflow .dealer-detail-inner .dealer-details-main {
    min-height: 260px !important;
}
.dealer-finder-background ul.product-DrpDwon-contnr {
    padding-left: 11px;
}

.dealer-finder-background ul.product-DrpDwon-contnr li {
    padding: 0 3px;
    height: 55px;
    width: 25%;
}

@media (max-width: 992px) {
    .dealer-finder-background .in-page-zipcode-contr {
        padding: 0 !important;
    }

    .dealer-finder-background #divSearch .in-page-btn-contr {
        padding-top: 42px !important;
    }
}
.full-width-3-7-crousel .field-overlay .field-overlay-inner p {
    min-height: 116px;
}
.singleLineMulti-LinkNavLinking-main-Contnr .Multi-Link-btn-contnr .add-to-cart-btn {
    width: 295px;
    max-width: 295px;
    font-size: 14px !important;
    font-weight: 700;
    padding: 15px 15px !important;
    border-radius: 0;
    transition: all 0.5s ease;
    color: #fff;
    background-color: #1965e1;
    border-color: #0250a3;
    margin-right: 15px;
    margin-bottom: 15px;
    line-height:20px !important;
}

@media (max-width: 380px) {
    .singleLineMulti-LinkNavLinking-main-Contnr .Multi-Link-btn-contnr .add-to-cart-btn {
        width: 100%;
        max-width: 295px;
        font-size: 14px !important;
        font-weight: 700;
        padding: 15px 15px !important;
        border-radius: 0;
        transition: all 0.5s ease;
        color: #fff;
        background-color: #1965e1;
        border-color: #0250a3;
        margin-right: 15px;
        margin-bottom: 15px;
        line-height: 20px !important;
    }

    .singlelinemultilink-form-contr {
        width: 100%
    }
}
.ATC-bill-board .btn-contnr .btn {
    line-height:20px !important
}
/*06/10/2021 end*/
/*# sourceMappingURL=main.css.map */
/*Service checkbox css*/
.service-checkbox {
    float: left;
    margin-top: 20px;
}

    .service-checkbox .service-option{
        float:left;
        width: 50%;
    }

    .dealer-finder-background{
        background-size: contain;
    }

    .dealer-finder-background #divSearch .in-page-btn-contr#query-button {
        padding-top: 20px !important;
    }

    .dealer-finder-background #mapModule .map-row {
        padding-top: 0px;
    }

    @media(min-width:768px) {
        .service-checkbox {
            position: absolute;
            bottom: -28px;
        }

        .service-checkbox .service-option {
            float: none;
            width: auto;
        }

        .dealer-finder-background {
            padding-bottom: 45px;
            background-size: cover;
        }

        /*.dealer-finder-background #divSearch .in-page-btn-contr#query-button {
            padding-top: 42px!important;
        }*/

        .full-width-carousel .carousel-mobile-image {
            display: block;
        }
        
    }

    @media(min-width:1024px) {
        .service-checkbox {
            bottom: -15px;
        }
        full-width-carousel .overlay-main-contnr {
            max-height: inherit;
        }

        .full-width-carousel.overlay-main-contnr > img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0%;
            left: 0%;
            display: block;
            transform: translate(0);
        }
        .full-width-carousel .overlay-main-contnr .container {
            position: absolute;
            top: 5em;
            left: 8em;
        }

        /*.dealer-finder-background #divSearch .in-page-btn-contr#query-button {
            padding-top: 23px !important;
        }*/
    }
    @media(min-width:1700px) {
        .full-width-carousel .overlay-main-contnr {
            min-height: inherit;
        }

        .full-width-carousel.overlay-main-contnr > img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0%;
            left: 0%;
            display: block;
            transform: translate(0);
        }
        .full-width-carousel .overlay-main-contnr .container {
            position: absolute;
            top: 5em;
            left: 8em;
        }
    }
/*11/11/2021 Start*/
    div.dealer-finder-background form.in-page-zipcode-contr {
        margin-bottom: 50px;
    }
    div.dealer-finder-background .results-finder-hedding p {
        font-size: 14px;
    }

    @media (max-width: 991px) {
        div.dealer-finder-background #divSearch form.in-page-zipcode-contr {
            margin-bottom: 50px;
        }

        div.dealer-finder-background #divSearch .in-page-btn-contr#query-button {
            padding-top: 42px !important;
        }

        div.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main div.miscellaneous-item {
            display: block;
        }

        div.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main div.miscellaneous-item > .col-xs-3 {
            width: 100%;
            font-size: 12px;
            text-align: left;
            margin-bottom: 5px;
        }

        .full-width-carousel .overlay-main-contnr, .hero-image-height {
            position: relative;
            max-height: inherit;
        }

        .full-width-carousel .overlay-main-contnr .container {
            position: absolute;
            top: 5em;
            left: 8em;
        }
    }

    @media (max-width: 767px) {
        div.dealer-finder-background #divSearch form.in-page-zipcode-contr {
            margin-bottom: 20px;
        }

        div.dealer-finder-background ul.product-DrpDwon-contnr li {
            width: 33.333%;
            min-height: 80px;
        }

        div.dealer-finder-background ul.product-DrpDwon-contnr {
            padding-right: 15px;
        }

        div.in-page-map {
            top: 0;
            width: 100%;
            left: 0;
            background: transparent;
            padding-right: 15px;
        }

        div.in-page-map .in-page-map-inner#map-canvas {
            position: relative !important;
        }
        div.dealer-finder-background {
            background-size: 750px !important;
            background-position: 100% 0;
        }
        div.dealer-finder-background .results-finder-hedding p {
            font-size: 14px;
        }


        /*21/10/2021 Start*/
        .main-tab-component .menu {
            width: 100%;
            height: auto;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 10;
            border-bottom: 0;
            margin: 0 auto;
        }

        .main-tab-component .sticky {
            position: fixed;
            top: 0px;
            width: auto;
            padding-right: 13px;
        }

        .main-tab-component .active {
            font-family: 'Droid Sans', serif;
            font-size: 14px;
            text-decoration: none;
            line-height: 50px;
        }



        .main-tab-component {
            height: 100%;
        }

            .main-tab-component .tab-content1 .tab-pane {
                display: block;
                opacity: 1;
                padding-top: 20px;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            .main-tab-component .tab-content {
                height: 100%;
            }

        .inner-tab-content {
            width: 100%;
            padding: 15px;
        }

        .main-tab-component .tab-content {
            position: relative;
        }

        .main-tab-component .nav li.nav-item {
            background-color: #ffffff;
            margin-bottom: 0;
            list-style: none;
            margin: 0 30px 0 0;
            z-index: 1;
        }

            .main-tab-component .nav li.nav-item.active {
                margin-bottom: 10px;
            }

                .main-tab-component .nav li.nav-item.active ~ li {
                    background-color: transparent;
                }

            .main-tab-component .nav li.nav-item a {
                margin-bottom: 10px;
            }

        #myTabContent {
            width: 90%;
            float: right;
            margin-top: -220px;
        }

        .main-tab-component .sticky + .tab-content1 {
            position: static;
        }
        /*21/10/2021 End*/
        .inner-tab-content .container {
            padding-left: 0;
        }

        .inner-tab-content .image-container img {
            margin-left: 0;
        }

        /*29/10/2021 Start*/

        .main-tab-component {
            float: left;
            padding-bottom: 50px;
        }
        #myTabContent.tab-content.non-margin {
            margin-top: 0;
        }
        

        .inner-tab-content .container {
            padding-left: 0;
        }

        .inner-tab-content .image-container img {
            margin-left: 0;
        }

        .main-tab-component ul li {
            position: relative;
            margin-bottom: 10px;
        }

            .main-tab-component ul li::before {
                content: '';
                position: absolute;
                height: 12px;
                width: 100%;
                background-color: #fff;
                bottom: -1px;
            }

            .main-tab-component ul li.active::before {
                bottom: -12px;
            }

        .main-tab-component .nav li.nav-item.active ~ li::before {
            background-color: transparent;
        }
      
        /*29/10/2021 End*/

        /*28-oct-21*/
        #tabs {
            height: 191px;
        }

        .main-tab-component {
            float: left;
            padding-bottom: 50px;
        }

        .main-tab-component .tab-content {
            width: 90%;
            float: right;
            /*/ top: -220px;
		    // position: relative;*/
        }
                
        #myTabContent {
            width: 90%;
            float: right;
            margin-top: -220px;
            /*/ top: -220px;
			// position: relative;*/
        }
       
        .inner-tab-content .container {
            padding-left: 0;
        }

        .inner-tab-content .image-container img {
            margin-left: 0;
        }

        .main-tab-component ul li {
            position: relative;
            margin-bottom: 10px;
        }

            .main-tab-component ul li::before {
                content: '';
                position: absolute;
                height: 12px;
                width: 100%;
                background-color: #fff;
                bottom: -1px;
            }

            .main-tab-component ul li.active::before {
                bottom: -12px;
            }

        .main-tab-component .nav li.nav-item.active ~ li::before {
            background-color: transparent;
        }
        /*28-oct-end*/
        .main-tab-component .nav li.collapse.active ~ li a {
            border-color: #0d2ea0 !important;
            background-color: lightgray !important;
            color: #0d2ea0 !important;
        }

        .main-tab-component .nav li.collapse.active ~ li {
            background-color: #fff;
        }
        /*11-3-21*/
        .main-tab-component .nav li.nav-item.active {
            height: 47px;
        }

        .main-tab-component .nav li.nav-item.active a {
            height: 100%;
        }
        .full-width-carousel .overlay-main-contnr .container {
            position: absolute;
            top: 4em;
            left: 5em;
            width: 80%;
        }
    }
    @media (max-width: 1100px) {
        div.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main div.miscellaneous-item > .col-xs-3 {
            padding-left: 2px;
            font-size: 10px;
            text-align: center;
        }
    }
    @media (max-width: 1024px) {
        div.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main div.miscellaneous-item > .col-xs-3 {
            padding-left: 2px;
            font-size: 10px;
            text-align: center;
        }
        div.dealer-finder-background {
            background-size: 100%;
        }
    }

    @media (max-width: 992px) {
        
        div.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main div.miscellaneous-item {
            display: block;
        }

        div.dealerFinder-main-contnr .dealer-detail-component .dealer-detail-inner .address-inner-main div.miscellaneous-item > .col-xs-3 {
            width: 100%;
            font-size: 12px;
            text-align: left;
        }
    }


/*11/11/2021 End*/


@media (max-width: 600px) {
    .full-width-carousel.overlay-main-contnr {
        position: unset !important;
    }

    .overlay-main-contnr > img {
        height: auto;
        width: 100%;
    }

    .full-width-carousel .overlay-main-contnr .container {
        position: unset !important;
        top: unset !important;
        left: unset !important;
    }
    .billboard-text-overlay-hero .modal-content-window.scms-modal {
        position: absolute !important;
    }
}
